:root{
    /*
    --color-1: #082336;
    --color-principal: #063254;
    --color-primario:#1C4c96;
    --color-secundario:#256Edc;
    --color-terciario:#427ed7;
    --color-cuaternario:#5f95e7;
    --color-quinario:#97bdf5;
    fef8f2
    ddbf8f
    */
    --color-primario:#fef8f2;
    --color-secundario:#ddbf8f;
    --color-terciario: #463126;
    --color-cuaternario:#4f3b30;
    --sombra: rgba(0,0,0,0.2);

}

body{
    background: #ddbf8f;
    background: url("../../imagenes/fondo3.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;

}
h1{
    text-align: center;
}
img{
    width: 100%;
}
.cuadro{
    max-width: 50rem;
    width: 90%;
    margin: 0px auto;
}

form{
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 20px;
    background: var(--sombra);
    border-radius: 10px;
}
label{
    font-size: 12px;
    display: block;
    width: 100%;
    color: white;
    font-weight: bold;
}
input{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
input[type = "submit"]{
    font-size: 14px;
    margin-bottom: 0px;
    background: var(--color-terciario);
    color: #fff;
    border: none;
    border-radius: 2em;
}
input[type = "submit"]:hover{
    background: var(--color-cuaternario);
    cursor: pointer;
}
.grilla{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 30px 10px 20px;*/
    box-shadow: 2px 2px 5px var(--sombra);
    background: var(--color-secundario);
    border-radius: 2em;
    padding: 2em;

}
.imagen{
    border-radius: 1em;
}
@media(max-width: 48rem){
    .grilla > * {
        grid-column: span 2;
    }
    .grilla{
        gap: 2em 0;
    }
}